.App {
  width: 100%;
  height: 700px;
  background-color: #afbbd3 ;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 5px 10px 15px rgb(1, 60, 44);

}
.container{
  background-color: #15a2a9;
  width: 450px;
  border-radius: 10px;
  padding: 50px;
}
.headings h1{
  text-align: center;
  text-decoration: underline;
  color: rgb(1, 60, 44);
}

.headings p{
  text-align: center;
  font-weight: 700;
  color: rgb(11, 80, 62) ;
  text-shadow: 3px 5px 7px rgb(238, 238, 162);
}
.total{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #afbbd3;
  height: 100px;
  border-radius: 5px;
  box-shadow: 3px 4px 5px  rgb(238, 238, 162);
  margin-top: 20px;
  margin: 20px;
}
.total h3{
  font-size: xx-large;
  font-weight: 850;

}
.total p{
  color: #0a4dd3;
  margin: 20px;
  font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-style: italic;
  font-weight: 500;
}
.input{
  display: flex;
  flex-direction: column;
  margin-top: 30px;
  align-items: center;
  justify-content: space-around;
  height: 200px;
}
.button{
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
}